/*
 * css styles go here
 */


body {
  background: black;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: lightgrey;
}

/* #header { */
/*   padding: 4px; */
/* } */

#header .big {
  font-size:   140%;
  font-weight: bold;
}

#header .small {
  font-size:    90%;
  color:        lightgrey;
  padding-left: 15px;
}

/* #nav { */
/*   padding: 6px; */
/* } */




blink {
    -webkit-animation: 2s linear infinite condemned_blink_effect; // for android
    animation: 2s linear infinite condemned_blink_effect;
}
@-webkit-keyframes condemned_blink_effect { // for android
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
